@keyframes loading {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.loader{
    border-radius: 50%;
    border-top: solid black 1px;
    border-right: solid black 1px;
    height: 100px;
    width: 100px;
    animation: loading 1s linear  infinite;
}

.hidden{
    display: none;
}
body{
    margin: 0;
}
header{
    background-color: #FF2F02;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    width: 50%;
    height: 70px;
}
#btns{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    row-gap: 10px;
    width: 40%;
    margin-bottom: 20px;
}
h1{
    text-align: center;
}
p{
    font-family: 'raleway', sans-serif;

}
button{
    background-color: #d8d8d8;
    border-radius: 6px;
    border: none;   
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
button.pressed{
    background-color: #FF2F02;
    color: white;
}

.events{
    width: 75%;
    margin: 0 auto;
    border-left: solid black 2px;

}
.month{
display: flex;
flex-direction: column;

}
.month h2{
    text-align: center;
    
}
.circle{
    border: solid 3px black;
    border-radius: 50%;
    width: 100px;
    height: 100px;

}
.event{
    background-color: #d8d8d8;
    border-radius: 0 10px 10px 0;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;

}
.bottom{
    border-bottom: solid 2px black;
    width: 100px;
}

.down{
    left: 12.5%;
    top: 11px;
    position: relative;
    transform: translate(-50%, -50%);
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
}

/* for bigger screens */
@media screen and (min-width: 650px) {
    main{
        width: 100%;
        margin: 0 auto;
    }
    header{
        display: grid;
        padding: 5px 10px;
        grid-template-columns: 1fr 1fr auto auto;
    }
    header img{
       grid-column: 1/2;

    }
    #btns{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        margin: 20px auto;
        width: 75%;
        }
        button  {
            width: 120px;
        }
    .month{
        display: grid;
        grid-template-columns: 212px 2fr;
        margin-bottom: 10px;
        background-color: #d8d8d8;
        border-radius: 105px;


    }
    .events{
        border: none;
    }
    .event{
        background-color: transparent;
        margin-left: 20px;

    }
    .bottom{
        border-right: solid 2px black;
        border-bottom: none;
        width: 212px;
        padding-right: 20px;    

    }
    .down{
        left: 42.8%;
    }
    .circle{
        width: 212px;
        height: 212px;
        background-color: white;
        }
}

@media screen and (min-width:1024px){
    header{
        display: grid;
        padding: 5px 10px;
        grid-template-columns: 1fr 1fr 1fr auto;
    }
    main{
        width: 70%;
    }
    .down{
        left: 35.65%;
    }

}