Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@Thundeee 
Branch master was renamed to main.
github
/
gitignore
Public
Code
Pull requests
212
Actions
Security
Insights
gitignore/WordPress.gitignore
@Wiblz
Wiblz Replace references of this repo's "master" branch
…
Latest commit 093b0fb on 6 Dec 2021
 History
 9 contributors
@pedrosanta@Wiblz@hulet@rohanvakharia@ScreamingDev@mostafasoufi@izuzak@sheabunge@BFTrick
48 lines (39 sloc)  849 Bytes
   
# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
/wp-content/themes
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete
